* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", monospace;
  font-size: 14px;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  overflow: hidden;
}
.container {
  background-color: #f6f1eb;
  width: 75%;
  height: 300px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.container__content {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f6f1eb;
  z-index: 10;
}
.container__content .content-logo {
  padding-bottom: 10px;
}
.container__content .content-title {
  padding: 15px 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.09px;
  width: 25rem;
}
.container__content .content-desc {
  padding-bottom: 15px;
  font-size: 12px;
  line-height: 14.06px;
  width: 30rem;
}
.container__content .content-link {
  font-size: 16px;
  color: #000;
}
.content_slider {
  width: 61%;
}
.img {
  width: 300px;
  height: 310px;
}

.slider__list {
  display: flex;
  align-items: center;
  transition: transform 0.35s ease-in-out;
}

.controls {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 35px;
}
.controls a {
  color: #333;
  text-decoration: none;
  transition: 0.15s ease-in-out;
}
.controls a:hover {
  color: #888;
}
.dots {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  position: fixed;
  top: 65%;
}
.dots .dot {
  width: 10px;
  height: 10px;
  background: #333;
  transition: 0.15s ease-in-out;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 20px;
}
.dots .dot.active {
  background: #888;
}

.disable {
  display: none;
}

.dots .dot:nth-last-child(1),
.dots .dot:nth-last-child(2) {
  display: none;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }

  .controls {
    display: none;
  }

  .img {
    width: 235px;
  }
}

@media screen and (max-width: 960px) {
  .container {
    width: 90%;
  }
  .container__content .content-title {
    font-size: 16px;
  }
  .container__content .content-desc {
    width: 80%;
  }
  .content_slider {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .container__content {
    width: 65%;
  }
  .content_slider {
    width: 30%;
  }
  .dots {
    display: inline-block;
    justify-content: center;
    top: 65%;
    right: 32%;
    z-index: 11;
  }
}

@media screen and (max-width: 750px) {
  main {
    background-color: #f6f1eb;
  }
  .container {
    width: 100%;
    height: 85%;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .container__content {
    width: auto;
  }
  .container__content .content-desc {
    width: 80%;
  }
  .content_slider {
    width: 70%;
    margin: 0 auto;
  }
  .controls {
    padding: 0 90px 0 90px;
    position: absolute;
    top: 65%;
    right: 0;
    z-index: 20;
  }
  .dots {
    top: 85%;
    right: 0;
  }
  .img {
    width: 375px;
    height: 375px;
  }
  .slider-item {
    min-width: 620px;
    padding-left: 2.5%;
  }
}

@media screen and (max-width: 375px) {
  .container__content {
    width: auto;
  }
  .content_slider {
    width: 70%;
  }
  .slider-item {
    padding: inherit;
  }
  .dots {
    justify-content: center;
    top: 90%;
    right: 1%;
  }
  .img {
    width: 265px;
  }
}
